<h3><%= link_to 'Back to Main Page', root_path %></h3>
<div class="person">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @person.first_name + ' ' + @person.last_name %>
  </h1>

  <ul>
    <%= render 'phone_numbers/phone_numbers', phone_numbers: @person.phone_numbers %>
  </ul>

  <ul>
    <%= render 'email_addresses/email_addresses', email_addresses: @person.email_addresses %>
  </ul>

  <ul class="actions">
    <li><%= link_to 'Add new phone number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %></li>
    <li><%= link_to 'Add new email address', new_email_address_path(contact_id: @person.id, contact_type: 'Person') %></li>
    <li><%= link_to 'Edit', edit_person_path(@person) %></li>
    <li><%= link_to 'Back', people_path %></li>
  </ul>
</div>
